@*@model IEnumerable<EmbeddedStockTest.Models.Category>*@
@model EmbeddedStockTest.ViewModels.ComponentTypeIndexData

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Component Types
        </th>            
        <th></th>
    </tr>

@foreach (var item in Model.Categories) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @foreach (var componentType in item.ComponentTypes)
            {
                <text><b>ID: </b></text>@componentType.ComponentTypeId @: <text><b>Name: </b></text>@componentType.ComponentName <br />
                }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryId })
        </td>
    </tr>
}

</table>
